<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultOutPath" value="D:/DBDictionary"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="DBCONN" connectionString="Data Source=.;Initial Catalog=test;UID=test_admin;PWD=3791888;"/>
  </connectionStrings>
</configuration>