<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <clear/>
    <add name="DBCONN" connectionString="Data Source=.;Initial Catalog=test;UID=test_admin;PWD=3791888;"/>
  </connectionStrings>
</configuration>